body{
    background-color: #333;
}
.box {
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    /* animation-delay: 2s;  */
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-property: background, border-radius, transform;
    transition-duration: 3s;
    /* transition-delay: 2s; */
}

.box:hover{
    background-color: red;
    border-radius: 50%;
    transform: rotareY(180deg);
}

@keyframes animation{
    0%{background-color: rgb(129, 48, 48); left: 0px; top: 0px; }
    100%{background-color: #7880a2; left: 300px; top: 300px;}

}